<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-6">
    <%= simple_form_for [@restaurant] do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
